* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  cursor: cell;
  background: rgb(50, 50, 50);
  background-size: cover;
}

#flexContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

#columnOne {
  flex: 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-size: 5.5rem;
  border: 1rem solid white;
  color: aquamarine;
  flex: 1;
  width: 9.5rem;
  margin-left: 5rem;
  box-shadow: 1px 1px 50px #888888;
}

#toolsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#clrBtn,
#fillClr,
#colors {
  flex: 1;
  margin: 20px 20px 20px 80px;
  cursor: cell;
}

#colors {
  width: 9rem;
  height: 4rem;
}

#pixelPainter {
  background: pink;
  flex: 1 70%;
  margin-right: 5rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill {
  border: 0.5px dotted lightgray;
  background: white;
  width: 20px;
  height: 20px;
  padding: 2px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button {
  width: 9rem;
  background: rgb(90, 90, 90);
  border: 5px solid white;
  color: white;
}

button:hover {
  border: 5px solid grey;
}

@media (max-width: 600px) {
  #flexContainer {
    display: flex;
    flex-direction: column;
  }
  #pixelPainter {
    margin-right: 0rem;
  }
  #columnOne {
    flex-direction: row;
    justify-content: space-around;
  }
  h1 {
    font-size: 3rem;
    border: 0.5rem solid white;
    color: aquamarine;
    flex: 1;
    width: 0rem;
    margin-left: 2rem;
    box-shadow: 8px 8px 15px #888888;
  }
}
